<div class="dsc-carousel card border-0" style="min-height: 60vh;">
    <div class="dsc-carousel__btns fw-bold">
        <i (click)="onPreviousClick()" class="bi bi-chevron-left"></i>
        <i (click)="onNextClick()" class="bi bi-chevron-right"></i>
    </div>
    <div class="dsc-carousel__content">
       <ng-container *ngFor="let image of images; index as i">
            <img [ngStyle]="{'margin-left': image.marginLeft + '%'}" style="height: 60vh;" [src]="image.imageSrc" class="card-img-top dsc-carousel__content-item  rounded-0 "
                alt="image.imageAlt">
       </ng-container>
    </div>
    <div class="dsc-carousel__steps">
        <div *ngFor="let step of images; index as i" (click)="selectImage(i)" class="dsc-carousel__steps-step dsc-carousel__steps-step-{{selectedIndex === i ? 'active' : ''}}">
        </div>
    </div>
</div>