.btn-primary {
    background-color: rgb(233, 234, 235);
    border-color: rgb(207, 209, 211);
   /* border-color: rgb(248,249,250);*/
    color: black;
}


a {
    color: black;
}

a i {
    cursor: pointer;
}
.contacts-bg {
    background-color: #f2f1ed;
}