<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid justify-content-center py-1">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <ng-container *ngFor="let tab of tabs">
                    <li *ngIf="tab?.isHomeTab" routerLinkActive="active" class="nav-item me-3">
                        <a (click)="setHomeAsActiveItem()" [ngClass]="{'active': (selectedElementName === tab?.['name'])}"
                            class="nav-link fw-bold py-0" routerLink="/">
                            <div class="row">
                                <div [style.backgroundImage]="'url('+tab.logoImageUrl+')'" class="thumbnail me-1 col"></div>
                                <span class="col pt-2 ps-0">{{tab?.['title']}}</span>
                            </div>
                        </a>
                    </li>

                    <li *ngIf="!tab?.isHomeTab && !tab?.isLoginTab && !tab?.isSignupTab" routerLinkActive="active" class="nav-item me-3">
                        <a [ngClass]="{'active': (selectedElementName === tab?.['name'])}" class="nav-link fw-bold clickable"
                            (click)="scrollTo(tab?.['name'])">{{tab?.['title']}}</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
        <ul class="collapse navbar-collapse navbar-nav justify-content-end me-auto flex-grow-0 mb-2 mb-lg-0 pe-3">
            <ng-container *ngFor="let tab of tabs">
                <li *ngIf="tab?.isLoginTab || tab?.isSignupTab" class="nav-item py-0 btn btn-light btn-sm" [ngClass]="[tab?.isLoginTab ? tab?.['marginRightClass'] : '']">
                    <a routerLink="/login" class="nav-link text-dark fw-bold">{{tab?.['title']}}</a>
                </li>
            </ng-container>
        </ul>
</nav>
